.checkoutProduct {
  display: flex;
  margin: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  padding: 3px 15px;
  border-color: #daae3f;
  border-radius: 3px;
}

.checkoutProduct__info > button:hover {
  background: #f0ae07;
  transition: 50ms;
  box-shadow: 2px 2px 6px #888888;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__rating p {
  color: rgb(233, 200, 12);
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
