.product {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;

  background-color: white;
  z-index: 1;
}

.product:hover {
  margin-top: 7px;
  transition: 200ms;
  box-shadow: 5px 5px 15px #888888;
}

.product__rating {
  display: flex;
}

.product__rating p {
  color: rgb(233, 200, 12);
}

.product > img {
  height: 240px;
  width: 80%;
  object-fit: contain;
  margin-top: 5px;
  margin-bottom: 15px;
}

.product__info {
  /*width: 90%;*/
  top: 0;
  height: 100px;
  margin-bottom: 15px;
}

.product__info p {
  /*width: 90%;*/
  font-weight: 630;
}

.product__price {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  padding: 3px 15px;
  border-color: #daae3f;
  border-radius: 3px;
}

.product > button:hover {
  background: #f0ae07;
  transition: 50ms;
  box-shadow: 2px 2px 6px #888888;
}
